
// COLORS VARIABLE
$main-color: #c30911;
$secend-light-color: #3ca2a2;
$secend-dark-color: #215a6d;
$white: #fff;

// FONT SIZE
$main-header-font-size: 48px;
$font-size-36: 36px;
$font-size-30: 30px;
$font-size-28: 28px;
$font-size-25: 25.76;
$font-size-22: 22;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-14: 14px;
$font-size-13: 13px;


// FONT WEIGHT
$bold: 700;
$semibold: 600;
$regular: 400;

// FONT FAMILY
$Open-Sans-Regular : Open-Sans-Regular;
$Open-Sans-Medium: Open-Sans-Medium;
$Open-Sans-SemiBold: Open-Sans-SemiBold;
$Open-Sans-Bold: Open-Sans-Bold;
$MYRIADPRO-SEMIBOLD: MYRIADPRO-SEMIBOLD;
$MYRIADPRO-REGULAR:MYRIADPRO-REGULAR;


// LAYOUT WIDTH
$content-width: 960px;
$section-width: 100%;